mat-grid-list(cols='1' rowHeight='60px')
    mat-grid-tile
        button(
            '(click)'='script()'
            '[innerHtml]'='txt'
            color='primary'
            mat-raised-button
        )
