mat-form-field('*ngIf'='data.generators')
    mat-select(
        '[(ngModel)]'='data.generator.options.template'
        '(change)'='changeGenerator()'
        placeholder='Generators'
    )
        mat-option(
            '*ngFor'='let generator of data.generators'
            '[value]'='generator.value'
        ) {{generator.value}}
