mat-grid-list(cols='1' rowHeight='60px')
    mat-grid-tile
        button('(click)'='createProject()' '[disabled]'='checkDisabled()'
            mat-raised-button color='primary') Create Project

button('(click)'='prueba()') Prueba
button('(click)'='prueba2()') Prueba2
