.omg.display-flex.justify-center
    button.omg.padding-x-10.padding-y-2(
        '(click)'='createProject()'
        '[disabled]'='checkDisabled()'
        color='primary'
        mat-raised-button
    ) Create Project
