mat-grid-list(cols='1' rowHeight='60px')
    mat-grid-tile
        button(
            '(click)'='searchGenerators()'
            color='primary'
            mat-raised-button
        ) Search Generators
