mat-grid-list(cols='1' rowHeight='60px')
    mat-grid-tile
        button('(click)'='createProject()' '[disabled]'='!shared.selectedDirectory'
            mat-raised-button color='primary') Create Project
