mat-grid-list(cols='2' rowHeight='60px')
    mat-grid-tile
        button('(click)'='selectDirectory()'
            mat-raised-button color='primary') Select Directory

    mat-grid-tile
        mat-form-field
            input('[(ngModel)]'='shared.selectedDirectory' placeholder='Selected Directory'
                matInput disabled)
