.omg.display-flex.flex-wrap('*ngIf'='data.generator.options.template')
    .omg.flex-25
        mat-form-field.omg.size-width.padding-4
            input(
                '[(ngModel)]'='data.generator.options.project'
                matInput
                placeholder='project'
            )

    .omg.flex-25('*ngFor'='let generatorOption of data.generatorOptions')
        mat-form-field.omg.size-width.padding-4
            mat-select(
                '[(ngModel)]'='data.generator.options[generatorOption.name]'
                '[placeholder]'='generatorOption.name'
            )
                mat-option.omg(
                    '*ngFor'='let choice of generatorOption.choices'
                    '[ngClass]'='{"display-none": checkGeneratorChoice(generatorOption, choice)}'
                    '[value]'='choice.value'
                ) {{choice.value}}
