div.omg.display-flex.align-center
    button.omg.margin-right-4.padding-1.size-width(
        '(click)'='selectDirectory()'
        color='accent'
        mat-raised-button
    ) Select Directory

    mat-form-field.omg.size-width
        input(
            '[(ngModel)]'='data.generator.route'
            disabled
            matInput
            placeholder='Selected Directory'
        )
