mat-grid-list(cols='2' rowHeight='60px')
    mat-grid-tile
        button(
            '(click)'='selectDirectory()'
            color='primary'
            mat-raised-button
        ) Select Directory

    mat-grid-tile
        mat-form-field
            input(
                '[(ngModel)]'='data.generator.route'
                disabled
                matInput
                placeholder='Selected Directory'
            )
