nav(mat-tab-nav-bar)
    a(
        '*ngFor'='let link of navLinks'
        '[active]'='rla.isActive'
        '[routerLink]'='link.path'
        #rla='routerLinkActive'
        mat-tab-link
        routerLinkActive
    ) {{ link.label }}
