mat-grid-list(cols='2' rowHeight='60px')
    mat-grid-tile
        button(
            '(click)'='checkPort()'
            color='warn'
            mat-raised-button
        ) Stop Port

    mat-grid-tile
        mat-form-field
            input(
                '[(ngModel)]'='port'
                matInput
                placeholder='stop port'
            )
