mat-grid-list(cols='2' rowHeight='60px')
    mat-grid-tile
        button('(click)'='searchGenerators()'
            mat-raised-button color='primary') Search Generators

    mat-grid-tile('*ngIf'='shared.generators')
        mat-form-field
            mat-select('[(ngModel)]'='shared.options.template' '(change)'='changeGenerator()'
                placeholder='Generators')
                mat-option('*ngFor'='let generator of shared.generators' '[value]'='generator.value') {{generator.value}}
